bg-color-1 = #FAFBFD
bg-color-2 = #FFFFFF

light-text = #FCFDFE
dark-text = #000
grey-text = #616161
light-grey-text = #B0B0B0

primary-color-1 = #EC5863
primary-color-2 = #4285F4

shadow-color = rgba(88, 126, 236, 0.18)